<footer class="footer">
    <div class="navigation">
        <nav class="menu">
            <ul>
                <li><a target="_blank" href="https://open.spotify.com/playlist/4mPSX3QVGTzYRn11U2m6yu?si=yI4jAo7PRdq53xhQCu4SiQ">Spotify Playlist</a></li>
            </ul>
        </nav>

        <div class="swiper-button-prev swiper-button">&laquo;</div>
        <div class="swiper-button-next swiper-button">&raquo;</div>
        <div class="swiper-button">
            <svg class="mobile-hide" width="21" height="30" viewBox="0 0 21 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="17.6667" height="27" rx="8.83333" stroke="white" stroke-opacity="0.2" stroke-width="2"/>
                <rect class="scroll-animation" x="8.66663" y="5.33331" width="3.33333" height="7.33333" rx="1.66667" fill="white" fill-opacity="0.2"/>
            </svg>

        </div>
    </div>

     
</footer>