<!-- layout.nj -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - </title>
    <link rel="stylesheet" href="./static/css/index.css">
</head>
<body>
    <!-- header -->
    <div class="wrap">
    <h1>Header!</h1>
</div>
    
    <!-- page content -->
    <div class="wrap">
     
    </div>

    <!-- footer -->
    <div class="wrap">
    <p>footer!</p>
</div>
    
    <script id="__bs_script__">
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.5'><\/script>".replace("HOST", location.hostname));
    </script>
</body>
</html>