.footer
    padding 1em
    height 10vh
    background-color #111
    width 100%
    max-width 40%
    display flex
    flex-direction column
    justify-content center

    +below(1100px)
        max-width 100%